.itemA{
    background-color: #0024F8;
    width: 520px;
    height: 600px;
}

.itemB{
    background-color: #AA0618;
    width: 60%;
    height: 70%;
}

.itemC{
    color: yellow;
    background-color: black;
    font-size: 55px;
    font-family: Arial;
    font-weight: 350;
}

.itemD{
    width: 70%;
    height: 50vh;
    background-color: rgb(67, 96, 55);
}

.itemE{
    width: 30vw;
    height: 25%;
    background-color: rgb(23, 190, 190);
}